body
{
    background-color: rgb(94, 179, 215);
}

.h-text
{
    text-align: center;
    text-decoration: underline;
    font-family:serif
}
.parent
{   
    /* margin: right; */
    display: flex;
    justify-content: center;
}
.child
{
    width: 650px;
    height: 850px;
    background-color: rgb(188, 100, 118);
    /* margin: right; */
    text-align: center;
    padding: 50px;
}

.btn
{
    background-color: crimson;
    color: cornflowerblue;
    width: 100px;
    height: 10opx;
}
.name1{
    text-decoration: double;
}
.name2
{
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    background-color: darkslategrey; 
}
.name-2
{
    padding: 10px;
    margin: 5px;
    border: 2px solid black; 
    background-color: darkslategrey; 

}
.email-1
{
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    background-color: darkslategrey; 

}
.phone-1
{
    padding: 10px;
    margin: 5px;
    border: 2px solid;
    border-color: rgb(20, 21, 21);
    background-color: darkslategrey; 

}
.city-1
{
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    background-color: darkslategrey;

}
.add-1
{ padding: 10px;
    margin: 5px;
    border: 2px solid black;
    background-color: darkslategrey; 
}
.msg-1
{
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    background-color: darkslategrey; 
}



